* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@mixin Montserrat700 {
  font-family: "Montserrat";
  font-weight: 700;
}

@mixin Montserrat400 {
  font-family: "Montserrat";
  font-weight: 400;
}

$colorWhite5: #E6E6E6;
$colorWhite2: #DEDEDE;
$colorWhite3: #FAFAFA;
$colorWhite: #FFFFFF;
$colorDarkBlue: #211DCAEB;
$colorDarkBlue2: #211DCA;
$colorLightBlue: #23A6F0;
$colorDarkLight: #31333EEB;
$colorGrey: #737373;
$colorGrey2: #BDBDBD;
$colorWhite4: #F9F9F9;
$colorGreen: #2DC071;
$colorLightGrey2: #FAFAFA;

.header {
  max-width: 100%;
  background: $colorDarkLight;

  .header__navbar {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 20px;

    & .first__menu {
      display: grid;
      grid-template-columns: 0.8fr 1.2fr 1.7fr;

      & i {
        color: $colorWhite;
      }

      & a {
        text-decoration: none;
        @include Montserrat700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        color: $colorWhite;
      }
    }

    & .second__menu {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      margin-right: 20px;
      align-items: center;

      & i {
        color: $colorWhite;
        margin: 0 10px;
      }

      & a {
        text-decoration: none;
        text-decoration: none;
        @include Montserrat700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.20000000298023224px;
        color: $colorWhite;
      }
    }
  }
}

.first__title {
  margin-top: 80px;

  span.h3 {
    @include Montserrat700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    display: block
  }

  span.h4 {
    @include Montserrat400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    display: block;
  }

  span.p {
    @include Montserrat400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    display: block;
  }
}

.cards {
  max-width: 70%;
  margin: 80px auto 367px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 70px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);

  .card__image {
    position: relative;
    padding: 0 0 100% 0;
    min-height: 500px;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card__btn {
    @include Montserrat700;
    margin: 25px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
}

.second__slider {
  width: 100%;
  height: 711px;
  background-color: $colorDarkLight;
}

.content {
  max-width: 80%;
  margin: 0 auto 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .content__img {
    position: relative;
    padding: 0 0 60% 0;

    & img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .content__title {
    padding: 178px 0 0 150px;

    & h5 {
      @include Montserrat700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.10000000149011612px;
      text-align: left;
      color: $colorGrey2;
    }

    & h2 {
      @include Montserrat700;
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
    }

    & h4 {
      @include Montserrat400;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      color: $colorGrey;
    }

    & button {
      @include Montserrat700;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.20000000298023224px;
      text-align: center;
      color: $colorGreen;
      padding: 15px 35px;
      border: 1px solid $colorGreen;
      background-color: $colorWhite;
      margin-top: 45px;
    }
  }
}

.social__block {
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: $colorLightGrey2;

  & .block__one {
    @include Montserrat700;
    font-family: Montserrat;
    padding: 53px 0 57px 0;
    margin-left: 60px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: $colorDarkLight;
  }

  & .block__two {
    text-align: right;

    & i {
      color: $colorLightBlue;
      padding: 0px 10px;
    }
  }
}

.footer {
  width: 100%;
  padding: 50px 160px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr) 3fr;
  grid-column-gap: 80px;

  .email {
    background-color: $colorWhite4;
    border: 1px solid $colorWhite5;
    padding: 15px 0;
    text-align: left;
  }

  .submit {
    background-color: $colorLightBlue;
    border: 1px solid $colorWhite5;
    padding: 15px 40px;
    margin-left: -10px;
  }
}