@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.header {
  max-width: 100%;
  background: #31333EEB;
}

.header .header__navbar {
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 10px 20px;
}

.header .header__navbar .first__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 1.2fr 1.7fr;
      grid-template-columns: 0.8fr 1.2fr 1.7fr;
}

.header .header__navbar .first__menu i {
  color: #FFFFFF;
}

.header .header__navbar .first__menu a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  color: #FFFFFF;
}

.header .header__navbar .second__menu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__navbar .second__menu i {
  color: #FFFFFF;
  margin: 0 10px;
}

.header .header__navbar .second__menu a {
  text-decoration: none;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  color: #FFFFFF;
}

.first__title {
  margin-top: 80px;
}

.first__title span.h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  display: block;
}

.first__title span.h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  display: block;
}

.first__title span.p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  display: block;
}

.cards {
  max-width: 70%;
  margin: 80px auto 367px;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 70px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.cards .card__image {
  position: relative;
  padding: 0 0 100% 0;
  min-height: 500px;
}

.cards .card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards .card__btn {
  font-family: "Montserrat";
  font-weight: 700;
  margin: 25px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}

.second__slider {
  width: 100%;
  height: 711px;
  background-color: #31333EEB;
}

.content {
  max-width: 80%;
  margin: 0 auto 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.content .content__img {
  position: relative;
  padding: 0 0 60% 0;
}

.content .content__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.content .content__title {
  padding: 178px 0 0 150px;
}

.content .content__title h5 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #BDBDBD;
}

.content .content__title h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.content .content__title h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

.content .content__title button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #2DC071;
  padding: 15px 35px;
  border: 1px solid #2DC071;
  background-color: #FFFFFF;
  margin-top: 45px;
}

.social__block {
  width: 100%;
  margin: 0 auto;
  padding: 0 120px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
}

.social__block .block__one {
  font-family: "Montserrat";
  font-weight: 700;
  font-family: Montserrat;
  padding: 53px 0 57px 0;
  margin-left: 60px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #31333EEB;
}

.social__block .block__two {
  text-align: right;
}

.social__block .block__two i {
  color: #23A6F0;
  padding: 0px 10px;
}

.footer {
  width: 100%;
  padding: 50px 160px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4] 3fr;
      grid-template-columns: repeat(4, 1fr) 3fr;
  grid-column-gap: 80px;
}

.footer .email {
  background-color: #F9F9F9;
  border: 1px solid #E6E6E6;
  padding: 15px 0;
  text-align: left;
}

.footer .submit {
  background-color: #23A6F0;
  border: 1px solid #E6E6E6;
  padding: 15px 40px;
  margin-left: -10px;
}
/*# sourceMappingURL=main.css.map */